<!--The content below is only a placeholder and can be replaced.-->

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/imgs/historic.png" alt="" class="logo">
    </a>
    <div class="collapse navbar-collapse">
      <!-- <ul class="navbar-nav ml-auto">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" href="accueil">Accueil</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="region">Region</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="detail">Detail</a>
        </li>
      </ul> -->
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>



