

bg-dark{
  background-color: #f8f9fa !important;
}

#map{
  height: 1000px;
  width: 100%;
}

h5{
  font-family: "Script MT Bold" !important;
}
p.pop{
  font-family: "Script MT Bold" !important;
  font-size: 20px !important;
}


