/* You can add global styles to this file, and also import other style files */
body{
  background: linear-gradient(rgba(250, 250, 250, 0.45),rgba(250, 250, 250, 0.45)),url("assets/imgs/bg.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
}
