
.map{
  overflow: hidden;
  margin-top: 80px;
}
.map__image{}

.map__image path{
  fill: #49859f;
  stroke: #a4ced2;
  stroke-width: 1px;
  transition: fill 0.3s;
}

.map__image .is-active path{
  fill: #a4ced2;
  cursor: pointer;
}

.map__list{}

.map__list a{
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.map__list a.is-active{
  color: #a4ced2;
  font-weight: bold;
}

.list-group-item{
  padding: 5px 1.25rem !important;
  border: 1px solid #a4ced2;
  color: white;
  background-color: #49859f;
  text-shadow: 2px 2px #222222;
}
ul{
  margin-top: 40px;
}
li a{
  cursor: pointer;
}




/* Container */
.modal1 {

  /* Overlay page content */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  z-index: 10000;

  /* Transition opacity on open */
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;

  /* Hide for now
  opacity: 0;
  pointer-events: none;
  */
}

/* Show modal */
.modal1:target {
  opacity: 1;
  pointer-events: auto;
  /* at time of writing (Feb 2012), pointer-events not supported by Opera or IE */
}

/* Content */
.modal1 > div {
  width: 500px;
  background: #fff;
  position: relative;
  margin: 10% auto;

  /* Default minimise animation */
  -webkit-animation: minimise 500ms linear;
  -moz-animation: minimise 500ms linear;
  animation: minimise 500ms linear;

  /* Prettify */
  padding: 30px;
  border-radius: 7px;
  box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  background: #fff;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: linear-gradient(#fff, #ccc);
  text-shadow: 0 1px 0 #fff;
}

.modal1 div p{
  font-family: "Script MT Bold";
  font-size: 20px;
}

/* Override animation on modal open */

.modal1 h2 {
  font-family: "Script MT Bold";
  font-size: 30px;
  padding: 0 0 20px;
}

.modal1 div {
  top: -400px;
  transform-origin: -10px -10px;
  animation: drop 2s ease forwards;
}

@keyframes drop {
  0%{opacity: 0}
  70%{transform: translateY(500px)}
  100%{transform: translateY(400px); opacity: 1}
}

#close {
  cursor: pointer;
  margin: 1em auto;
  display: block;
  width: 200px;
  background: rgb(90,87,87);
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
