
.map{
  overflow: hidden;
}
.map__image{}

.map__image path{
  fill: #49859f;
  stroke: #a4ced2;
  stroke-width: 1px;
  transition: fill 0.3s;
}

.map__image .is-active path{
  fill: #a4ced2;
}

.map__list{

}

.map__list a{
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.map__list a.is-active{
  color: #a4ced2;
  font-weight: bold;
}

.list-group-item{
  padding: 5px 1.25rem !important;
  border: 1px solid #a4ced2;
  color: white;
  background-color: #49859f;
  text-shadow: 2px 2px #222222;
}
ul{
  margin-top: 40px;
}

#map{
  height: 500px;
  width: 100%;
}
